{% extends "layout.html" %}
{% set home_active = True %}
{%block title %}Home{% endblock %}

{%block content %}
    <div class="jumbotron">
        <h1 class="display-4">Green Green Gardens</h1>
        <p class="lead">Innovation: it's our middle name.</p>
        <hr class="my-4">
        <p>At Green Green Gardens, we pride ourself in creating discerning multi-faceted ITS solutions to enable digital 
            stock-keeping of botanic equipment. By applying our patented, cloud-based, holistic data-driven analytics,
            customers can expect to leverage the power of AI-based machine learning for user analysis (UA) as well as
            exploiting the power of distributed blockchains for secure, cloud-based record keeping solutions.
        </p>
        <p class="lead">
        <a class="btn btn-primary btn-lg" href="/browse" role="button">Browse</a>
        </p>
    </div>
{% endblock %}